@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap%27);


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
width: 100vw;
height: 100vh;

margin: 0 auto;
}

main{
width: 90%;
margin: 50px 0 auto;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

a{
    text-decoration: none;
}

#photo{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .5);
    width: 160px;
    height: 160px;

    border-radius: 50%;

    margin-bottom: 20px;
    }

    .roboto {
        font-family: "Roboto", sans-serif;
    }

.box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 20px;
}

.box p, .box h1 {
    text-align: center;
}


.box img {
    width: 160px;
    height: 160px;

    border-radius: 50%;
}

.icons{
font-size: 50px;
}

.fa-instagram {
    background: -webkit-linear-gradient(bottom right, yellow, orange, pink, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin{
    color: #007785;
}

.fa-github{
    color: #111111;
}

@media (min-width: 900px) {
   body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

    main{
        flex-direction: row;
        margin-top: 0;
   
        gap: 50px;
    }  
    
        #photo{
    width: 300px;
    height: 300px;
    }   
    
    .box img {
    width: 300px;
    height: 300px;
    } 

    .box p {
max-width: 450px;
    }
   
    .icons {
        font-size: 40px;
}
}